* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
  min-height: 100vh;   
  /* Horizontal centering (main axis): */  
  justify-content: center;  
  /* Vertical centering (cross axis): */
  align-items: center;
  padding: 0;
  margin: 0;
}
/* FONT */
@import url(//db.onlinewebfonts.com/c/d03165bd677535fe8da7479e26b13180?family=AzoSansUberW01-Regular);

@font-face {font-family: "AzoSans"; src:url('../fonts/Azo\ Sans\ Uber\ W01\ Regular.ttf')}:
@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}




/* RESTYLE TAG */


/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
  color: #333333;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/


textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: 1px solid #000;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.txt1 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #999999;
}

.txt2 {
  font-family: Poppins-Regular;
  font-size: 13px;
  line-height: 1.5;
  color: #666666;
}
/*ROLE MODE */


.limiter {
  width: 100%;
  margin: 0 auto;

}
.container-role, .container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap-role, .wrap-login100 {
  width: 960px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: contents;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 177px 130px 33px 95px;
}
.role-form{
  width: 290px;
}
.login100-form{
  width: 290px;
}
.role-form-title, .login100-form-title{
  font-family: Poppins-Bold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  width: 100%;
  display: block;
  padding-bottom: 30px;
}
.row{
  margin: 0px;
}

/*BUTTON*/

.container-role-form-btn, .container-login100-form-btn{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

.role-form-btn, .login100-form-btn, .create-btn , .publish-btn {
  font-family: Montserrat-Bold;
  font-size: 12px;
  line-height: 1.3;
  color: #fff;
  text-transform: uppercase;
  width: 100%;
  height: 35px;

  border-radius: 25px;
  background: #484399;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.role-form-btn:hover,  .login100-form-btn:hover  {
  background: #333333;
}

/*---------------------------------------------*/
.wrap-input100 {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-bottom: 10px;
}

.input100 {
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;
  color: #666666;
  border: none;
  display: block;
  width: 100%;
  background: #e6e6e6;
  height: 50px;
  border-radius: 25px;
  padding: 0 30px 0 68px;
}

.symbol-input100 {
  font-size: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  position: absolute;
  border-radius: 25px;
  top: -7px;
  left: 0;
  width: 100%;
  height: 100%;
  padding-left: 35px;
  pointer-events: none;
  color: #666666;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.gameWrapper{
      display: table;
			padding: 0;
			width: 100%;
			height: 100%;
		/*	position: absolute;*/
      background-size: 100% 100%;

}
.gameWrapper::after {
  content: "";  
  position: absolute;
   opacity:0.5;    opacity: .7;

}
.mainHolder{
  display: table-cell;
  vertical-align: middle;
}
.canvasHolder{
  position: relative;
  max-width: 1024vw;
  min-width: 100vw;
  margin: 0 auto;
}

.gameCanvas{
  border: 5px #fff solid;
  width:90vw;
  height:100vh;
  background-image: url("../assets/bg-sample.png");
  background-size: 100% 100%;
  
}
.instructionHolder{
  position: relative;
  text-align: center;
  color: white;
}
.instructionText{
  position: absolute;
  top: 60%;
  left: 50%;
  word-wrap: break-word;
  width: fit-content;
  transform: translate(-50%, -50%);
}
#settingsRow{
  margin-left:5px;
  margin-top: -10px;
}
#backBtn{
  color: #679847;
}
#musicBtn{
  color: #679847;
  width: 80px;

}
#logoutBtn{
  color: #679847;

}
#gameInfo{
  width: 100%;
  height: 10%;
  margin-left:75px;
  margin-top:-20px;
}

#gameMap{
  width: 100%;
  
}


#welcomeText{
  font-size: 1.4vw;

  color:#723c29;
  font-family: AzoSans;
}
#dialogue{
  font-size: 1.4vw;

  color:#723c29;
  font-family: AzoSans;
}
#dialogue1{
  font-size: 1.1vw;

  color:#723c29;
  font-family: AzoSans;
}
.story {
  white-space: nowrap;
  font-size: 1.5vw;
  overflow: hidden;
  color: #fff;
}
.gameStory{
  font-size: 1.5vw;

  color:#723c29;
  font-family: AzoSans;
  line-height: normal;

}
/* Animation */
.story {
  animation: animated-text 2s steps(30,end) 1s 1 normal both;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 472px;}
}

#lear{
  margin-top: -55px;
  margin-right: -25px;
  position: absolute;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

.button-quest {
 
  *display: inline;
  /*border: 1px solid #d4d4d4;*/
  height: 32px;
  width: 40px;
  border-radius: 240px;
  background-color: #00a1cb;
  line-height: 32px;
  padding: 0px 25.6px;
  font-weight: 300;
  font-size: 14px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  margin: 0;
  text-decoration: none;
  text-align: center;
  padding: 8px;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);

}
/**
.button-circle {
  -webkit-border-radius: 240px;
  -moz-border-radius: 240px;
  -ms-border-radius: 240px;
  -o-border-radius: 240px;
  border-radius: 240px;
  -webkit-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0px 1px 1px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.2);
  width: 40px;
  line-height: 40px;
  height: 40px;
  padding: 0px;
  border-width: 4px;
  font-size: 18px;
}

.button-primary {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5e5), color-stop(100%, #008db2));
  background: -webkit-linear-gradient(top, #00b5e5, #008db2);
  background: -moz-linear-gradient(top, #00b5e5, #008db2);
  background: -o-linear-gradient(top, #00b5e5, #008db2);
  background: linear-gradient(top, #00b5e5, #008db2);
  background-color: #00a1cb;
  border-color: #007998;
  color: white;
  text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35);
}
*/
/*MAIN QUIZ*/
.container-quiz{
  width: 75vw;
  height: 50vw;
  background-image: url("../assets/BOARDS/question-bar.png");
  background-size: 100% 100%;
  padding:10%;
}
.quiz{
  display: contents;
}
#question{
  color: #f1e7c3 ;
  font-size: 2.5vw;
  margin-top: -20px;

  font-family: AzoSans;
}
.quest-choices{
  color: #723c29;
  font-size: 1.2vw;
  
  font-family: AzoSans;
}
.btn-choice{
  color:#fff;
  background-color: #9f6b38;
  margin: 10px;
  padding: 5px;
  word-wrap: break-word;
  display: inline-block;
  border-radius:5px
  ;width:100%;
  text-align:left;
}
#feedbackTitle{
  color: #000;
  font-size: 40px;
  }
  #feedbackText{
    color: #723c29;
  font-size: 1.5vw;
  font-family: AzoSans;
  margin-top:-10px;
  }
  #continueMap{
    color: #000;
  font-size: 20px;
  }
 

  /*GAME MAP*/
.circle-quests:hover{
  width: 6vw;;
}
  /* RESPONSIVE */



@media (max-width: 992px) {
  .wrap-login100, .wrap-role {
    padding: 177px 90px 33px 85px;
  }

  .login100-form, .role-form {
    width: 50%;
  }
  .card-header .title{
    font-size: 1.2rem;
  }

  .fa{
    margin-top: -25px;
  }
  .canvasHolder{
   
  }
  .gameCanvas{
    width:90vw;
  height:80vh;
  }
}
@media (max-width: 768px) {
  .wrap-login100, .wrap-role {
    padding: 100px 80px 33px 80px;
  }

  .login100-form, .role-form {
    width: 100%;
  }
 
  .gameCanvas{
    width: 100vw;
    height: 100vh;
  }
  .btn-choice{
    margin: 3px;
  }
  .symbol-input100{
    top: 0px;
  }
}


@media (max-width: 576px) {
  .wrap-login100, .wrap-role {
    padding: 100px 15px 33px 15px;
  }
  .canvasHolder{
  
  }
  .gameCanvas{
    width:90vw;
    height:60vh;
  }
  .btn-choice{
    margin: 3px;
  }
  .symbol-input100{
    top: 0px;
  }
}
#startBtn {
    
  animation: pulse 1s linear infinite;
}

@-webkit-keyframes "pulse" {
  0% {transform: scale(0.9, 0.9); opacity: 0.8;}
  50% {transform: scale(.95, .95); opacity: 1.0;}
  100% {transform: scale(0.9, 0.9); opacity: 0.8;}
}

/*FEEDBACK POPUP*/
.overlay {
	
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 180px auto;
  background: transparent;
  border-radius: 5px;
  width: 90%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup span {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .content {
  overflow: auto;
}
.btn-choice{
  color:#000;
  background-color: #fff;
}

@media screen and (max-width: 700px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}


/*FINAL SCORE*/
#finalScoreText, #finalScoreNum{
  color:#723c29  ;
  font-family: AzoSans;
  font-size: 4vw;
}
.container-final{
  height: 55vw;
  width: 80vw;
  margin-top: -50px;
  background-size: 100% 100%;

}

#finalBoard{
  width: 100%;
  height: 60%;
  
}

/*QUEST STORY*/
#questTitle{
  font-size: 30px;
  color: #fff;
  font-family:AzoSans;
  margin: 10px 50px; 
  letter-spacing: 6px; 
  font-weight: bold;
}
#questStory{
  font-size: 30px;
  color: #fff;
  font-family: AzoSans; 
  margin: 10px 50px; 
  letter-spacing: 6px; 
  font-weight: bold;

}
#toQuestion{
  font-size: 8vw;
  color: #fff;
  font-family:AzoSans;
  margin: 10px 50px; 
  letter-spacing: 6px; 
  font-weight: bold;

}